// Variables
/* Are placeholders for storing information that you want to reuse throughout your styles. You can store things like colours, font-stacks, or any css value you think you might want to reuse 
SCSS uses the '$' symbol to declar variables. */

$mm-item-count: 4;
$mm-item-width: 100% / $mm-item-count;
$menu-height: 60px;
$item-padding: $menu-height * 0.33;
$mm-bg: #fff;
$dd-bg: hsl(30, 100%, 50%);
$dd-text-color: #fff;
$dd-text-hover-color: hsl(30, 100%, 50%);
$item-hover: lighten($mm-bg, 4%);
$mm-item-text-color: #9b9b9b;
